<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <!------header-->
    <!------cart form------>
    <section class="cart">
        <div class="container">
            <div class="headtext">
                <p class="">Bạn đã có tài khoản?<a href="login.html">Ấn vào đây để đăng nhập</a></p>
            </div>
        </div>
        <div class="container">
            <div class="left-container-payment">
                <div class="left-container-payment-information">
                    <label for="">Họ và tên *</label>
                    <input type="text">
                </div>
                <div class="left-container-payment-information">
                    <label for="">Số điện thoại *</label>
                    <input type="tel">
                </div>
                <div class="left-container-payment-information">
                    <label for="">Địa chỉ email *</label>
                    <input type="email">
                </div>
                <div class="left-container-payment-information">
                    <label for="">Tỉnh/Thành phố *</label>
                    <input type="text">
                </div>
                <div class="left-container-payment-information">
                    <label for="">Quận/Huyện *</label>
                    <input type="text">
                </div>
                <div class="left-container-payment-information">
                    <label for="">Xã/Phường *</label>
                    <input type="text">
                </div>
                <div class="left-container-payment-information">
                    <label for="">Xã/Phường *</label>
                    <input type="text">
                </div>
                <div class="left-container-payment-button">
                    <a href=""><p>Quay lại giỏ hàng</p></a>
                    <button type="submit">Đặt hàng</button>
                </div>
            </div>
            <div class="right-container-payment">
                <div class="right-container-payment-information">
                    <h3>Thông tin đơn hàng</h3>
                    <table>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Giảm giá</th>
                            <th>Số lượng</th>
                            <th>Tạm tính</th>
                        </tr>
                        <tr>
                            <td>Cafe đen</td>
                            <td>0</td>
                            <td>1</td>
                            <td>20.000<sup>đ</sup></td>
                        </tr>
                        <tr>
                            <td>Cafe đen</td>
                            <td>0</td>
                            <td>1</td>
                            <td>20.000<sup>đ</sup></td>
                        </tr>
                        <tr>
                            <td>Cafe đen</td>
                            <td>0</td>
                            <td>1</td>
                            <td>20.000<sup>đ</sup></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;" colspan="3">Tổng</td>
                            <td style="font-weight: bold;"><p>60.000<sup>đ</sup></p></td>
                        </tr>
                    </table>
                </div>
        </div>
    </section>
    <!------footer-->

</body>
</html>